
* {
  padding: 0;
  margin: 0.1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}


section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.pricing .card {
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 15px;
    padding: 10px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.pricing hr {
  font-weight: normal;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

.price-card {
    border: 2px solid #333;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 2rem;
    text-align: center;
    background: white;
    display: flex;
    flex-direction: column; /* Use "column" to create a column layout */
    align-items: center; /* Center align the cards */
    height: 3%;
    width: 20%;
}

.card {
    border-radius: 15px !important;
    margin: 10px;
    margin-top: 9px;
    width: 95% !important;
    height: 100% !important;
      
  }
   .card:hover{
    box-shadow: 0 -1rem 1rem 0;
    color: black;
  }
  
  
  .card-body {
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 15px;
    padding: 10px;
    font-weight: bolder;
    padding-bottom: 10px;
  }
  
  .card-body h1.price{
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .card-body span {
    color: gray;
  }
  ul .fa-ul{
    padding-left: 25px;
  }
  ul .fa-ul li {
    list-style-type: none;
    
  }
  ..fa-ul li{
    margin-bottom: 18px;
  }
  .fa-ul span {
    margin-right: 10px;
    font: icon;
    font-weight: bolder;
    padding:18px;
  }
  .fa-ul span.faCheck{
    color: black;
     }
     .fa-ul span.faCheck:hover{
       color: greenyellow;
     }
  .fa-ul span.faTimes {
    color: rgb(128, 128, 128);
  }

  .fa-ul span.faTimes:hover{
    color:red;
  }
  a .btn btn-primary{
    margin-top: 18x;
  }
  .btn btn-primary {
    text-align: center;
  }
  
  a .btn btn-primary{
    width: 90%;
    padding: 15px 0;
    font-weight: bold;
    border-radius: 30px !important;
    background:rgb(20, 153, 198);
    border: 0;
    color: white;
    opacity: 2s;
  }
 a .btn btn-primary:hover{
    background: blue;
    opacity: 4s;
  }
}
