
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
.App {
  text-align: center;
  
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.background-blue {
  background-color: blue;
  padding: 20px;
}

* {
  padding: 0;
  margin: 0.1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.heading h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  color:rgb(56, 56, 157);
  margin-bottom: 3rem;
  text-decoration: underline !important; 
}

body {
  background: linear-gradient(to bottom, #87CEFA, #1E90FF);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

